.Popup-Background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.200);
    /* filter: blur(3px); */
}

.ViewPost{
    min-height: 100vh;
}

.ViewPost.blur{
    filter: blur(3px);
}

.ViewPost.blur .Main-Footer {
    bottom: 0;
    position: fixed;
} 

.Popup {
    /* filter: blur(3px); */
    background-color: #43727a;
 
    border-radius: 6px; 
    position: absolute;
 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    padding: 0 30px 30px;
}

.Popup:before{
    transform: scale(0.1);
}

.rating-text {
    color: white;
    font-size: 40px; 
    display: flex;
    justify-content: center;
}

.star-wrapper {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    position: relative;
    direction: rtl;

    display: flex;
    justify-content: center;
}

.star-wrapper .fa {
    margin: 4px;

    font-size: 4em;
    text-decoration: none;
    color: white;
    
    transition: all 0.5s;
}

.star-wrapper .fa:hover ~ .fa{
    color: gold;
    transform: scale(1.2);
    transform: rotate(10deg);
}

.fa:hover {
    color: gold;
    transform: scale(1.2);
    transform: rotate(10deg);
    cursor: pointer;
}

.fa.fa-star.focused {
    color: gold;
    /* transform: rotate(10deg); */
}

.submit-button {
    
    cursor: pointer;

    font-size: 20px;
    font-weight: 600;

    padding-left: 8px;
    padding-right: 8px;
    
    margin-top: 5px;

    background-color: white;
    color: #43727a;
    border-color: white;

    /* background: none; */

    border-width: 2px;
    border-radius: 5px;
    border-style: solid;

    float: right;
    transition: .2s;
}

.submit-button:hover{
    transition: 0.4s;
    color: rgb(255,204,51);
    border-color: gold;
    background-color: #43727a;
}

.cancel-button {
    cursor: pointer;

    font-size: 20px;
    font-weight: 600;

    padding-left: 8px;
    padding-right: 8px;
    
    margin-top: 5px;

    background-color: white;
    color: #43727a;
    border-color: white;

    /* background: none; */

    border-width: 2px;
    border-radius: 5px;
    border-style: solid;

    float: left;
    transition: .2s;

}

.cancel-button:hover{
    transition: .4s;
    color: #FF033E;
    border-color: #FF033E;
    background-color: #43727a;
}


.comment-wrapper{
    display: flex;
    justify-content: center;
}

.comment-wrapper .comment-area {
    resize: none;
    width: calc(50%);
    /* background-color: #27272c; */
    font-size: 20px;
    border: 2px solid;
    border-radius: 4px;
}