.Home {
  text-align: center;
  background-color: #538e99;
}


.Home .HomeWrapper{
  padding: 50px 90px;
  margin: 0%;
}

.Home .HomeWrapper .Background{
  /* background-color: #5fa4b1; */
  border-radius: 5px;
  padding-top: 40px;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  column-gap: 40px;
  row-gap: 40px;
}

.Home .HomeWrapper .Background.Big{
  grid-template-columns: repeat(4, minmax(250px, 1fr));
}


.Home .Background .Mask {
  background-color: rgba(255, 0, 0, 0.5);
  aspect-ratio: 3/4;
  border-radius: 10px;
  max-height: 400px;
  transition: 300ms;
  overflow: hidden;
}




@keyframes openPost {
  0% {transform: scale(1);}
  100% {transform: scale(1.33)}
  110% {width: 300px;}
  
}

.Home h3{
  font-size: 42px;
  text-align: left;
  color: #fff;
}

.Home .FocusHolder{
  height: calc(100vh - 60px);
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.Home .FocusHolder img{
  height: calc(100vh - 60px);
  width: 100%;
  box-shadow: 0px 3px 3px rgba(34, 57, 61, 0.863);
  transform: translate(0px, -120px);
}

.Home .FocusContent{
  color: #fff;
  position: absolute;
  top: 0;
  height: calc(100vh - 60px);
}


.Home .CatchLineBg{
  margin-left: 60px;
  height: calc(100% - 130px);
  position: absolute;
  top: 0;
}

.Home .CatchLine{
  margin-top:  calc((100vh - 60px) / 2 - 320px);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 30px;
  background-color: rgba(3, 1, 2, 0.788);
}


.Home .FocusContent h2{
  font-size: 50px;
  text-align: right;
  min-width: 280px;
}

.Home .CatchLine p{
  font-size: 24px;
  text-align: right;
  direction: rtl;
  max-width: 200px;
}

