.Dropdown-Profile{
    position: absolute;
    margin-top: 12px;
    right: -60px;
}

.Profile-Menu-Holder {
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(165, 165, 165);
    background-color: #fff;
    z-index: 999;
}


/* -----PROFILE----------------------- */   

.Profile-Placeholder{
    height: 100px;
    margin: 2px;
    border: 0px rgb(165, 165, 165) solid;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    box-shadow: 0 0 2px rgb(46, 46, 46) inset ;
    overflow: hidden;
    text-align: center;
}

.Profile-Placeholder img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Profile-Placeholder-Text{
    color: rgb(165, 165, 165);
    display: inline-block;
    font-size: small;
    margin-top: 40px;
}





/* -----LIST-------------------------- */

.Profile-Menu-Holder .ProfileWrapper{
    margin: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.Log-Out {
    border-radius: 10px;
    color: black;
    transition: 0.3s;
}

.Log-Out:hover {
    color: red;
    opacity: 0.8;
    opacity: 1;
}

.Profile-Menu {
    line-height: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.Profile-Menu li{
    font-weight: 500;
    margin: 2px;
    white-space: nowrap;
}

.Profile-Menu .Divider{
    margin-top: 5px;
    border-bottom: 1px rgb(165, 165, 165) solid;
}

.Profile-Menu li a{
    text-decoration: none;
    transition: 300ms;
    color: black;
}

.Profile-Menu li a:hover{
    color: #538e99;
    opacity: 0.8;
    opacity: 1;
}
